footer.footer
<<<<<<< HEAD
<<<<<<< HEAD

    .footer__icon

        i.fab.fa-youtube
        
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;  
=======
    .footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;
>>>>>>> feature/#3/video
=======
    .footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;
>>>>>>> feature/#3/video
